# Python-related files
*.pyc
*.pyo
__pycache__/
*.pyd
*.swp

# Environment variables
.env

# Virtual environment
venv/
env/
.UEMS/

# Django-related files
db.sqlite3
media/
staticfiles/

# Logs and local files
*.log
*.pot
*.mo

# VSCode and other editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS-related files
.DS_Store

# Node modules (if using React or any frontend package)
node_modules/

# Build files
dist/
build/

# Ignore any specific cache or unnecessary directories
*.egg-info/
.eggs/
