# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pot
*.py[cod]

# Django
*.db
*.log
*.pot
*.pyc
__pycache__/
media/
static/

# React
node_modules/
build/
*.log

# VS Code
.vscode/

# MacOS
.DS_Store

# Environment Files
.env
